<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="quiz_form">
        <%= render 'shared/quiz_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Quiz Feed</h3>
      
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <h1>クイズアプリへようこそ</h1>

  <h2>
    管理者アカウントの名前とパスワードです。ログインフォームからログインしてください。
    
    
  </h2>
  <p>名前：Example User</p>
<p>パスワード：foobar</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
